
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 100%;
}

/* Story Content */
.story-content {
    text-align: center;
    margin: 20px 0;
}

.story-text {
    text-align: left;
    margin: 20px auto; 
    max-width: 300px;  
    width: 100%;
}

/* Highlight Color*/
.highlight-orange {
    background-color: orange;
    color: black;
    padding: 2px 4px;
}
/*text Color*/
.text-red {
    color: red;
    padding: 2px 4px;
}

.underlined {
    text-decoration: underline;
    padding: 2px 4px;
}

/*Image */
.image {
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    display: block;
}


/* Navigation Link */
.back-link {
    margin-top: 40px;
    text-align: center;
}

.back-link a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.back-link a:hover {
    text-decoration: underline;
}
